/* .class-name #id-name */
body {
    margin: 0;
}

#sketch-container{
    margin-top: 3%;
    z-index: -1; 
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

#decision-container{
    top: 80%;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.decision-button{
    /* add spacing between buttons */
    /* margin-left: 10%;
    margin-right: 10%; */
    
}

#sceneText-container{
    background:rgb(255, 255, 255, 0.3);
    width: 50%;
    color: white;
    position: absolute;
    top: 45%;
    transform: translate(50%, 100%);
}

#sceneText{
    padding-left:5%;
    padding-right: 5%;
    /* align-content: center; */

}